@charset "UTF-8";
@import url("notosan.css");
@import url("NanumSquare.css");

/* tag default */
body{font:16px/1.3 "Noto Sans Korean","맑은 고딕", "Malgun Gothic", "dotum", "돋움";font-weight:400;color:#222;}
body img {max-width:100%;}
body, div, dl, dt, dd, th, td, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, p, blockquote, button, input, textarea{margin:0; padding:0;}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, main {display:block; margin:0; padding:0;}
hr, table caption, legend, .hd-element {display:block;overflow:hidden;position:absolute;left:-99999999999px;width:0; height:0;  font-size:0; line-height:0;}
table {width:100%; border-collapse:collapse; border-spacing:0; table-layout:fixed;}
img, fieldset, button, input{border:0; vertical-align:middle;}
ul, ol, li {list-style:none;}
em, address {font-style:normal;}
a {text-decoration:none;color:inherit;}
button {vertical-align:top;cursor:pointer;}
button::-moz-focus-inner {padding:0; border:0;}
select {appearance:none;-ms-appearance:none; -webkit-appearance:none; -moz-appearance:none; -o-appearance:none;}
select::-ms-expand {display:none}
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
a, input, select, button, textarea {font-family:inherit;}

/* accessibility */
#skipNavigation {position:absolute; left:0; top:0; width:100%; z-index:10000;}
#skipNavigation a {display:block; position:absolute; left:0; top:-10px; width:100%; height:1px; margin-bottom:-1px; background:#f2f2f2; font-size:0; text-align:center; font-weight:bold; color: #444;}
#skipNavigation a:hover, #skipNavigation a:focus, #skipNavigation a:active {position:absolute;left:0;top:0;padding:3px;height:25px;font-size:15px;}
