@charset "utf-8";

/* 가상키보드 작업 */
#keyboardInputMaster {position:absolute;top:50px !important;left:640px !important;color:#333;background-color:#fff;border:1px solid #ccc;text-align:left;z-index:1000000;width:518px;padding:17px 15px;box-sizing:border-box;box-shadow: 0 2px 2px 0 #eee; line-height: 1;border-collapse: separate;}
#keyboardInputMaster table {table-layout: auto;border-spacing:3px;border:0;margin-bottom:-4px;}
#keyboardInputMaster select {height:28px;padding:0;line-height:18px;border:0;width:70px !important;border:1px solid #aaa;background-color:#fbfbfb;background: url('../images/ico/select_arrow.png') no-repeat no-repeat 80% center; background-size: auto;}
/*#keyboardInputMaster thead tr th select, #keyboardInputMaster thead tr th label{font-size: 15px !important;font-weight: 300 !important;color: #333 !important;padding-left: 10px;}
#keyboardInputMaster thead tr th {text-align:left;padding:0 5px 10px 4px;background-color:inherit;border:0px none;}
#keyboardInputMaster thead tr th select,#keyboardInputMaster thead tr th label {color:#000000;font:normal 11px Arial,sans-serif;}*/
#keyboardInputMaster thead tr td {text-align:right;padding:0 5px 10px 4px;background-color:inherit;border:0px none;}
#keyboardInputMaster thead tr td select, #keyboardInputMaster thead tr td label{font-size: 15px !important;font-weight: 300 !important;color: #333 !important;padding-left: 10px;}
#keyboardInputMaster thead tr td:first-child {text-align:left;padding:0 5px 10px 4px;background-color:inherit;border:0px none;}
#keyboardInputMaster thead tr td select,#keyboardInputMaster thead tr td label {color:#000000;font:normal 11px Arial,sans-serif;}
#keyboardInputMaster #keyboardInputClear {width:60px;height:28px;text-align:center;border:1px solid #aaa;background-color:#fbfbfb;line-height:28px;font-size: 15px;font-weight: 300;color: #333;}
#keyboardInputMaster #keyboardInputClose {width:26px;height:28px;text-align:center;border:1px solid #aaa;background-color:#fbfbfb;margin-left:-7px;line-height:28px;font-size: 15px;font-weight: 300;color: #333;}
#keyboardInputMaster thead tr td button {font:bold 11px Arial,sans-serif;display:inline-block;cursor:pointer;}
#keyboardInputMaster tbody tr td {text-align:left;margin:0px;padding:0px}
#keyboardInputMaster tbody tr td div {text-align:center;position:relative;height:0px;}
#keyboardInputMaster tbody tr td div#keyboardInputLayout {height:auto;}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table {border-radius:4px 4px 4px 4px;height:20px;white-space:nowrap;width:100%;border-collapse:separate;}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table td {border-radius: 4px;background:#efefef;border:1px solid #ddd;}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table.keyboardInputCenter {background:transparent;width:254px;height:36px;margin:6px auto 0 !important;border:0;}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table.keyboardInputCenter td {border:0;	border:1px solid #ddd;	background-color:#efefef;	border-radius:3px;}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td button {vertical-align:middle;padding:1px 9px;white-space:pre;font-size:12px;font-weight:normal;font-family: "Malgun Gothic";cursor:default;color:#000;text-align: center;display: block;width: 100%;}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.last {width:99%;}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table td:last-child{width:99%;}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.alive {background-color:#ccccdd;}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.target {background-color:#ddddcc;}
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.hover,
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.pressed,
#keyboardInputMaster tbody tr td div#keyboardInputLayout table tbody tr td.dead,
#keyboardInputMaster tbody tr td div.keyboardOn table td.hover,
#keyboardInputMaster tbody tr td div.keyboardOn table td:hover,
#keyboardInputMaster tbody tr td div.keyboardOn table td:focus{
  border-top:1px solid #cacaca;
  border-right:1px solid #cacaca;
  border-bottom:1px solid #cacaca;
  border-left:1px solid #aaaaaa;
  background-color:#d5d5d5;
}
#keyboardInputMaster tbody tr td div var {position:absolute;bottom:0px;right:0px;font-size:12px;font-weight:normal;font-family:"Malgun Gothic";color:#444444;}
@media all and (max-width:1023px) {
.search-wrap .header .btn-keyboardui{display: none;}
#keyboardInputMaster{display: none;}